daphne==4.1.0
pytz==2024.1
python-dateutil==2.9.0.post0
django~=4.2.11
numpy~=1.26.4
pandas~=2.2.1
scipy~=1.12.0
websocket-client==1.7.0
requests~=2.31.0
channels~=4.0.0
whitenoise==6.6.0
psycopg2.binary==2.9.9
celery==5.3.6
tqdm~=4.66.1